body{
    overflow: hidden;
}

@keyframes scaleup {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: scale(12);
        opacity: 0.2;
    }
}

@keyframes scaleuprotate {
    0% {
        transform: scale(1) rotate(-90deg);
        opacity: 1;
    }
    30% {
        transform: scale(3) rotate(0);
        opacity: 1;
    }
    40% {
        transform: scale(4) rotate(0);
        opacity: 1;
    }
    60% {
        transform: scale(5) rotate(0);
        opacity: 1;
    }
    80% {
        transform: scale(6) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(12) rotate(0);
        opacity: 0.2;
    }
}

@keyframes rotation {
    0% {
      transform: translate(-50%, -50%) scale(1.4) rotateZ(0deg);
    }
    25% {
        transform: translate(-50%, -50%) scale(2) rotateZ(90deg);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.4) rotateZ(180deg);
    }
    75% {
        transform: translate(-50%, -50%) scale(2) rotateZ(270deg);
    }
    100% {
      transform: translate(-50%, -50%) scale(1.4) rotateZ(359deg);
    }
}

.rotate {
    animation: rotation 20s infinite linear;
    transform-origin: 50.17% 48.66%;
}

.loader-container{
    width: 100vw;
    overflow: hidden; /* Hide scrollbars */
    background: #000;
}

.spiral-bg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (orientation: landscape) {
    .spiral-bg{
        height: 100vw;
    }
}
/* 
@media (orientation: portrait) {
    .spiral-bg{
        height: 100vh;
    }
} */


.text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-family: sans-serif;
}

.scale-up-rotate {
    animation: scaleuprotate 3s infinite linear;
}


.scale-up-fast {
    animation: scaleup 1.5s infinite linear;
}