html {
    height: 100%;
}

body{
    overflow: hidden;
    min-height: 100%;
    background: #000;
}

@keyframes z-forward {
     0% {
         transform: translate3d(0, 0, -100px);
     }
     100% {
         transform: translate3d(0, 0, 0px);
     }
 }

@keyframes scaleup {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0.2;
    }
}

@keyframes scaleuprotate {
    0% {
        transform: scale(.1) rotateZ(-90deg);
        opacity: 1;
    }
    30% {
        transform: scale(.3) rotateZ(0);
        opacity: 1;
    }
    40% {
        transform: scale(.4) rotateZ(0);
        opacity: 1;
    }
    60% {
        transform: scale(.5) rotateZ(0);
        opacity: 1;
    }
    80% {
        transform: scale(.6) rotateZ(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotateZ(0);
        opacity: 0.2;
    }
}

@keyframes rotation {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotateZ(90deg);
    }
    50% {
        transform: translate(-50%, -50%) rotateZ(180deg);
    }
    75% {
        transform: translate(-50%, -50%) rotateZ(270deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(359deg);
    }
}

.rotate {
    animation: rotation 20s infinite linear;
    transform-origin: 50.17% 48.66%;
}

.loader-container{
    width: 100vw;
    overflow: hidden; /* Hide scrollbars */
    background: #000;
}

.spiral-bg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (orientation: landscape) {
    .spiral-bg{
        height: 100vw;
    }
}
/*
@media (orientation: portrait) {
    .spiral-bg{
        height: 100vh;
    }
} */

.haha-text {
    color: white;
    font-family: sans-serif;
    height: 200px;
    width: 200px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
}

.positioner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scale-up-rotate {
    animation: scaleuprotate 3s infinite linear;
}


.scale-up-fast {
    animation: scaleup 1.5s infinite linear;
}

.delay-1{
    animation-delay: .2s;
}

.percentage{
    font-size: 3.5em;
    color: white;
    text-shadow: 2px 2px #000;
    font-family: sans-serif;
}

.ha-z-forward {
  /*animation: z-forward 3s infinite linear;*/
    position: absolute;
    top: 50%;
    left: 50%;
  transform: translate3d(-200px, 0, -1000px);
  height: 200px;
  width: 200px;
}

.ha-z-forward-2 {
    /*animation: z-forward 3s infinite linear;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(0, 0, 0);
    height: 200px;
    width: 200px;
}

.mover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

.scene{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 1000px;
}

